img {

    width: 5vw;
    left: random(200)vw;
    z-index: 0;
}

.fileElem {
    all: unset;
    appearance: none;
    width: 200px;
    height: 200px;
    color: black;
    border-style: none;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
    text-align: center;
    line-height: 80%;
    align-self: center;
    //background-color: rgba(255, 50, 0, 255);
}


.btn {

    appearance: none;
    display: block;
    left: 20px;
    width: 200px;
    height: 200px;
    color: black;
    border-style: none;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45pt;
    text-align: center;
    line-height: 80%;
    background-color: rgba(255, 50, 0, 255);
    align-self: center;


}

#UI {
    position: absolute;
    display: flex;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    align-content: center;


}

.preview {
    z-index: 0;
}

#UIheader {

    font-family: sans-serif;
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #000;
    color: #fff;
}



.sliderContainer {
    display: block;
    background-color: black;
}




input[type="range"] {
    width: 300px;
    height: 30px;
    margin: 10px;
    appearance: none;
    background: #000;
    //border-radius: 16px;

}


input[type="range"]::-webkit-slider-runnable-track {
    height: 8px;
    background: whitesmoke;
    border-radius: 0px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 50px;
    height: 50px;
    background: greenyellow;
    border-radius: 100%;
    cursor: pointer;
    margin-top: -20px;
    /* align with track */
}